<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>NYSE.py</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <link rel="icon" type="image/ico" href="{{ url_for('static',filename='images/favicon.ico')}}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/vendor/animate/animate.css')}}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/vendor/select2/select2.min.css')}}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/vendor/perfect-scrollbar/perfect-scrollbar.css')}}">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/util.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/main.css')}}">
        <!--===============================================================================================-->
	</head>
	<body>
		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>Bienvenido a NYSE.py una aplicación de seguimiento de acciones desarrollada por <a href="https://github.com/JoaquinCardonaRuiz">Joaquín Cardona</a></h2>
					</section>
					<section>
						<p>Este proyecto fue desarrollado como trabajo práctico de Soporte a la Gestión de Datos con Programación Visual, utilizando <a href="https://www.python.org/">Python</a>, <a href="https://palletsprojects.com/p/flask/">Flask</a>, y <a href="https://www.mongodb.com/">MongoDB</a>.</p>
						<ul class="actions">
							<li><a href="https://github.com/JoaquinCardonaRuiz/stocks-soporte" class="button special">Visitar Repositorio</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner split">
					<section>
                        <div class="limiter">
                            <div class="container-table100">
                                <div class="wrap-table100">
                                    <div class="table100 ver1">
                                        <div class="table100-firstcol">
                                            <table>
                                                <thead>
                                                    <tr class="row100 head">
                                                        <th class="cell100 column1">Tus Tickers</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">
                                                    </td>
                                                    </tr>
                    
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">
                                                        </td>
                                                    </tr>
                    
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">
                                                        </td>
                                                    </tr>
                    
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">
                                                        </td>
                                                    </tr>
                    
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">
                                                        </td>
                                                    </tr>
                    
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">
                                                        </td>
                                                    </tr>
                    
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="wrap-table100-nextcols js-pscroll">
                                            <div class="table100-nextcols">
                                                <table>
                                                    <thead>
                                                        <tr class="row100 head">
                                                            <th class="cell100 column2">Precio</th>
                                                            <th class="cell100 column3">Cambio</th>
                                                            <th class="cell100 column4">Recs</th>
                                                            <th class="cell100 column5">Dividendos</th>
                                                            <th class="cell100 column6">Prox venc opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="row100 body">
                                                            <td class="cell100 column2">421.21</td>
                                                            <td class="cell100 column3">-24.46</td>
                                                            <td class="cell100 column4" onClick = createRecsWidget(1)>Buy</td>
                                                            <td class="cell100 column5">0.77</td>
                                                            <td class="cell100 column6">30</td>
                                                        </tr>
                    
                                                        <tr class="row100 body">
                                                            <td class="cell100 column2">316.56</td>
                                                            <td class="cell100 column3">-10.21</td>
                                                            <td class="cell100 column4" onClick = createRecsWidget(2)>Buy</td>
                                                            <td class="cell100 column5">0.77</td>
                                                            <td class="cell100 column6">26</td>
                                                        </tr>
                    
                                                        <tr class="row100 body">
                                                            <td class="cell100 column2">389.28</td>
                                                            <td class="cell100 column3">+11.34</td>
                                                            <td class="cell100 column4" onClick = createRecsWidget(3)>Buy</td>
                                                            <td class="cell100 column5">0.77</td>
                                                            <td class="cell100 column6">32</td>
                                                        </tr>
                    
                                                        <tr class="row100 body">
                                                            <td class="cell100 column2">231.52</td>
                                                            <td class="cell100 column3">-1.46</td>
                                                            <td class="cell100 column4" onClick = createRecsWidget(4)>Buy</td>
                                                            <td class="cell100 column5">0.77</td>
                                                            <td class="cell100 column6">22</td>
                                                        </tr>
                    
                                                        <tr class="row100 body">
                                                            <td class="cell100 column2">112.31</td>
                                                            <td class="cell100 column3">-8.21</td>
                                                            <td class="cell100 column4" onClick = createRecsWidget(5)>Buy</td>
                                                            <td class="cell100 column5">0.77</td>
                                                            <td class="cell100 column6">25</td>
                                                        </tr>
                    
                                                        <tr class="row100 body">
                                                            <td class="cell100 column2">236.60</td>
                                                            <td class="cell100 column3">+3.11</td>
                                                            <td class="cell100 column4" onClick = createRecsWidget(6)>Buy</td>
                                                            <td class="cell100 column5">0.77</td>
                                                            <td class="cell100 column6">28</td>
                                                        </tr>
                    
                                                        <tr class="row100 body">
                                                            <td class="cell100 column2">125.25</td>
                                                            <td class="cell100 column3">+12.46</td>
                                                            <td class="cell100 column4" onClick = createRecsWidget(7)>Buy</td>
                                                            <td class="cell100 column5">0.77</td>
                                                            <td class="cell100 column6">24</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <form action="{{ url_for('handle_data') }}" method="post" id="stocks_form">
                        <input class="postform" type="hidden" name="stocks" value="default" />
                        <script>document.getElementsByClassName("postform")[0].style.display = "none"</script>
                    </form>
                    <!--===============================================================================================-->	
                        <script src="{{ url_for('static',filename='assets/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
                    <!--===============================================================================================-->
                        <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/popper.js')}}"></script>
                        <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
                    <!--===============================================================================================-->
                        <script src="{{ url_for('static',filename='assets/vendor/select2/select2.min.js')}}"></script>
                    <!--===============================================================================================-->
                        <script src="{{ url_for('static',filename='assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>

                    
                    <script>
                        global_i = 1;
                            function edit_ticker(i){
                                console.log(i)
                                global_i = i;
                                cell = document.getElementsByClassName("cell100 column1")[i];
                                //document.getElementsByClassName("editimage")[i-1].style.display = "none";
                                var tmpObj=document.createElement("td");
                                tmpObj.className = "cell100 column1";
                                tmpObj.innerHTML='<input class=tickerinput type="text" onkeydown="change_text()" onsubmit="return false;">';
                                cell.parentElement.replaceChild(tmpObj,cell);
                                document.getElementsByClassName("tickerinput")[0].focus();
                            }
                            function change_text(){
                                if(event.keyCode == 13){
                                    cell = document.getElementsByClassName("cell100 column1")[global_i];
                                    var user_stocks = {{ user_stocks | tojson }};
                                    var tmpObj=document.createElement('td');
                                    tmpObj.className = "cell100 column1";
                                    tmpObj.innerHTML= document.getElementsByClassName("tickerinput")[0].value +' <img align=right class=editimage src="{{ url_for("static",filename="images/edit.png")}}"onclick="edit_ticker('+global_i.toString()+')">'
                                    create_widget(document.getElementsByClassName("tickerinput")[0].value);
                                    user_stocks[global_i-1] = document.getElementsByClassName("tickerinput")[0].value
                                    cell.parentElement.replaceChild(tmpObj,cell);
                                    var tmpObj = document.createElement("input")
                                    tmpObj.innerHTML = '<input class="postform" type="hidden" name="stocks" value='+user_stocks.toString()+'>';
                                    tmpObj.style.display = "none";
                                    obj = document.getElementsByClassName("postform")[0];
                                    console.log(obj)
                                    obj.parentElement.replaceChild(tmpObj,obj);
                                    document.getElementById("stocks_form").submit();
                                }
                            }

                         
                        </script>

                        <script>
                            var sel_row = 1;
                            function style_row(){
                                var first_col = document.getElementsByClassName("table100 ver1")[0].children[0].children[0];
                                var data =      document.getElementsByClassName("table100 ver1")[0].children[1].children[0].children[0];
                                console.log("selected row: "+sel_row.toString());
                                for (var i = 1, row; row = first_col.rows[i]; i++) {
                                    row.onclick = function(){
                                        sel_row = this.sectionRowIndex+1;
                                        if(this.children[0].childNodes[0].data != current_sym && this.children[0].childNodes[0].data != " "){
                                            create_widget(this.children[0].childNodes[0].data);
                                            style_row()
                                        }
                                    }
                                    if(i==sel_row){
                                        //document.getElementsByClassName("editimage")[i-1].style.display = "inline-block"
                                        row.style.background = "#9b71a8";
                                        row.style.color = "#FFFFFF";
                                        data.rows[i].style.background = "#f4e1fa";
                                        data.rows[i].style.color = "#FFFFFF";
                                    }
                                    else{
                                        //document.getElementsByClassName("editimage")[i-1].style.display = "none"
                                        row.style.background = "#FFFFFF";
                                        row.style.color = "#666666";
                                        data.rows[i].style.background = "#FFFFFF";
                                        data.rows[i].style.color = "#999999";
                                    }
                                }
                            }

                            style_row();
                            $('.js-pscroll').each(function(){
                                var ps = new PerfectScrollbar(this);
                    
                                $(window).on('resize', function(){
                                    ps.update();
                                })
                    
                                $(this).on('ps-x-reach-start', function(){
                                    $(this).parent().find('.table100-firstcol').removeClass('shadow-table100-firstcol');
                                });
                    
                                $(this).on('ps-scroll-x', function(){
                                    $(this).parent().find('.table100-firstcol').addClass('shadow-table100-firstcol');
                                });
                    
                            });
                    
  
                        </script>
                    <!--===============================================================================================-->
                        <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                        Launch demo modal
                        <script>document.getElementsByClassName("btn btn-primary")[0].style.display = "none";</script>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Posición Recomendada: Sell</h5>
                            <script>
                                document.getElementsByClassName("modal-header")[0].style.background = "#bb2222";
                            </script>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">

                                  </ul>
                            </div>

                        </div>
                        </div>
                    </div>
                    <script>
                        function createRecsWidget(i){
                            document.getElementsByClassName("list-group")[0].innerHTML = "";
                            eventFire(document.getElementsByClassName("btn btn-primary")[0], 'click');
                            console.log(i)
                            var s1 = document.getElementsByClassName('cell100 column4')[i].innerHTML;
                            var s2 = "";
                            if(s1.includes("Buy")){
                                s2 = "Buy"
                                document.getElementsByClassName("modal-header")[0].style.background = "#11aa11";
                            }
                            else if(s1.includes("Hold")){
                                s2 = "Hold"
                                document.getElementsByClassName("modal-header")[0].style.background = "#db9514";
                            }
                            else if(s1.includes("Sell")){
                                s2 = "Sell"
                                document.getElementsByClassName("modal-header")[0].style.background = "#bb2222";
                            }
                            else{
                                s2 = "Sin Data"
                                document.getElementsByClassName("modal-header")[0].style.background = "#999999";
                            }
                            document.getElementById("exampleModalLongTitle").outerHTML ='<h5 class="modal-title" id="exampleModalLongTitle">Posición Recomendada: '+s2+'</h5>';
                            var stock_info = {{stock_info | tojson}};
                            var recs = stock_info[i-1][5]
                            console.log(recs)
                            for (j = 0; j < recs.length; j++) {
                                var node = document.createElement("li");
                                if(recs[j][recs[j].length-1] == "0"){
                                    node.className = "list-group-item list-group-item-sell"
                                    var textnode = document.createTextNode(recs[j].substring(0, recs[j].length - 1)); 
                                    node.appendChild(textnode);                   
                                    document.getElementsByClassName("list-group")[0].appendChild(node);
                                }
                                else if(recs[j][recs[j].length-1] == "1"){
                                    node.className = "list-group-item list-group-item-hold"
                                    var textnode = document.createTextNode(recs[j].substring(0, recs[j].length - 1)); 
                                    node.appendChild(textnode);                   
                                    document.getElementsByClassName("list-group")[0].appendChild(node);
                                }
                                else if(recs[j][recs[j].length-1] == "2"){
                                    node.className = "list-group-item list-group-item-buy"
                                    var textnode = document.createTextNode(recs[j].substring(0, recs[j].length - 1)); 
                                    node.appendChild(textnode);                   
                                    document.getElementsByClassName("list-group")[0].appendChild(node);
                                }
                            }    
                            //console.log("deleting widget")
                            //document.getElementsByClassName("tradingview-widget-container")[0].style.display="none";
                            //document.getElementsByClassName("tradingview-widget-container")[0].parentElement.innerHTML = '<iframe src={{ url_for("static",filename="assets/trybs_affix_navbar.htm")}} style="width:100%;height:280px;margin-bottom:15px;border:1px solid #ccc" scrolling="yes" frameborder="0"></iframe>'
                        }
                        function eventFire(el, etype){
                            if (el.fireEvent) {
                                el.fireEvent('on' + etype);
                            } else {
                                var evObj = document.createEvent('Events');
                                evObj.initEvent(etype, true, false);
                                el.dispatchEvent(evObj);
                            }
                            }
                    </script>
					</section>
					<section style="padding-top: 1em;">
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div id="tradingview_31a6f"></div>
                            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/AMEX-SPY//" rel="noopener" target="_blank"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">

                            function create_widget(sym){
                                current_sym = sym;
                                new TradingView.widget({
                                    "width": 800,
                                    "height": 480,
                                    "symbol": sym,
                                    "interval": "D",
                                    "timezone": "Etc/UTC",
                                    "theme": "Light",
                                    "style": "3",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": false,
                                    "container_id": "tradingview_31a6f"});
                            };
                            current_sym = "SPY";
                            create_widget("SPY");
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
					</section>
				</div>
			</section>
        
    
        <!-- Two -->
        <!-- news -->
            <div class="news-scroll">
                <div class="news-dialog" role="document">
                <div class="news-content">
                    <div class="news-header">
                        <p>"Stock Market" - Google News</p>
                    <script>
                        document.getElementsByClassName("news-header")[0].style.background = "#bb2222";
                        function fill_news(){
                            var news = {{news | tojson}};
                            for (j = 0; j < news.length; j++) {
                                var new_title = document.createElement("li")
                                new_title.innerHTML = news[j];
                                document.getElementsByClassName("news-content").appendChild();
                        }
                    </script>
                    </div>
                    <div class="news-body">
                        <ul class="list-group">

                        </ul>
                    </div>

                </div>
                </div>
            </div>
			
            
		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js')}}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
            <!-- Loading gif-->
            <section id="two" class="wrapper style2 alt">
				<div class="inner"> 
                    <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading" data-fw-param="132627/"></script> 
				</div>
			</section>
            
            <script>
                stocks = document.getElementsByClassName("cell100 column1");
                var user_stocks = {{ user_stocks | tojson }};
                for (j = 1; j < stocks.length; j++) {
                    stocks[j].innerHTML = user_stocks[j-1]+' <img align=right class=editimage src="{{ url_for("static",filename="images/edit.png")}}"onclick="edit_ticker('+j.toString()+')">';
                } 
                fill_table()
                function fill_table(){
                    var rows = document.getElementsByClassName("row100 body");
                    var stock_info = {{stock_info | tojson}};
                    for (j = 7; j < rows.length; j++) {
                        var columns = rows[j].children;
                        for (k = 0; k < columns.length; k++){
                            rows[j].children[k].innerHTML = stock_info[j-7][k];
                        }    
                    }    
                }
            </script>
	</body>
</html>
